.div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(238, 238, 238, 0.219); */
    z-index: 10;
  }
  
  .gifdiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gif {
    width: 18em;
    height: auto;
  }
  