
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.149);
    padding: 20px;
    background-color: rgba(108, 108, 108, 0.319);
    backdrop-filter: blur(5px);
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .navLinks .list {
    cursor: pointer;
    display: flex;
    list-style: none;
    gap: 50px;
    color: white;
    
  }
  .item1:hover{
    transition:.2s linear;
        color: rgba(255, 255, 255, 0.616);
        /* font-size: large; */
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.471);

  } 

  
  .profile {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .profile img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .profile label{
    white-space:nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: 150px;
  }
  
  .profile button {
    padding: 10px 13px;
    border: none;
    background-color: rgba(89, 89, 89, 0.681);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    width: 90px;
  }
  
.cart{
  cursor: pointer;
  position: relative;
  width: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.cart span{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: black;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.378);
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
  top:-13px;
  left: 15px;
}

.cart:hover{
  
  span{
    background-color: black;
    transition: 0.4s  ease-in-out;

    color: white;
  }
    transform: scale(1.06);
    transition: 0.09s ease-in-out;
  
}

 .itemlast{
  height: 15px;
 }

  .order{
    text-decoration: underline  rgba(0, 0, 0, 0.933);
    color: rgb(0, 0, 0);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
  top: -30px;
  right: -64px;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 19px;
  border-radius: 40px;
  }

