.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.275);
    padding: 20px;
    background-color: rgba(108, 108, 108, 0.319);
    backdrop-filter: blur(5px);
  }
  
  .logo {
    
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
  }
  
  .logo img {
    
    height: 40px;
    margin-right: 10px;
  }
  
  .navLinks .list {
    cursor: pointer;
    display: flex;
    list-style: none;
    gap: 50px;
    color: white;
    
  }
  .item1:hover{
    transition:.2s linear;
        color: rgba(202, 201, 201, 0.466);
        /* font-size: large; */
    text-shadow: 1px 1px rgba(24, 24, 24, 0.548);

  } 

  
  .profile {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .profile img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .profile label{
    white-space:nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: 150px;
  }
  
  .profile button {
    padding: 10px 13px;
    border: none;
    background-color: rgba(89, 89, 89, 0.681);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    width: 90px;
  }